<admin-navbar></admin-navbar>
<div class="container-fluid" [ngStyle]="adminS.dashboard_container_style">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <admin-lg-menu [active_tab]="'project-categories'"></admin-lg-menu>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-sm btn-outline-info float-right" (click)="new_categroy_btn()">
            <i class="fa fa-plus mr-1"></i>
            New Category
          </button>
          <h4 class="text-light">
            <i class="fa fa-cogs mr-2"></i>
            Manage Project Categories
          </h4>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-md-6">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th>
                  Category Name
                </th>
                <th>
                  Priority
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of projectCategories">
                <td>
                  {{category.name}}
                </td>
                <td>
                  {{category.priority}}
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-secondary" (click)="delete_project_category_trigger(category)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button class="btn btn-sm btn-outline-secondary ml-2" (click)="edit_project_category_trigger(category)">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="new_category_dialog_visible" 
    [modal]="true" 
    [blockScroll]="true" 
    [dismissableMask]="true"
    [showHeader]="true" 
    [positionTop]="150" 
    [width]="300">

  <p-header>
    New Category
  </p-header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <input class="form-control" type="text" [(ngModel)]="new_category_name" />
      </div>
    </div>
    <div class="row mt-3 mb-2">
      <div class="col-12 text-right">
        <button class="btn btn-sm btn-success" (click)="new_category_submit()">
            <i class="fa fa-check mr-1"></i>
            Save
        </button>
      </div>
    </div>
  </div>

</p-dialog>

<p-dialog [(visible)]="delete_category_dialog_visible" 
    [modal]="true" 
    [blockScroll]="true" 
    [dismissableMask]="true"
    [showHeader]="true" 
    [positionTop]="150" 
    [width]="300"
    *ngIf="delete_project_category">

    <p-header>
      Delete Category
    </p-header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {{delete_project_category.name}}
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-12 text-right">
          <button class="btn btn-sm btn-danger" (click)="delete_project_category_confirm()">
              <i class="fa fa-trash mr-1"></i>
              Delete
          </button>
        </div>
      </div>
    </div>

</p-dialog>

<p-dialog [(visible)]="edit_category_dialog_visible" 
    [modal]="true" 
    [blockScroll]="true" 
    [dismissableMask]="true"
    [showHeader]="true" 
    [positionTop]="150" 
    [width]="300"
    *ngIf="edit_project_category">

    <p-header>
      Edit Project Category
    </p-header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <input class="form-control" type="text" [(ngModel)]="edit_project_category.name" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input class="form-control" type="number" [(ngModel)]="edit_project_category.priority" />
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-12 text-right">
          <button class="btn btn-sm btn-success" (click)="edit_project_category_confirm()">
              <i class="fa fa-check mr-1"></i>
              Save
          </button>
        </div>
      </div>
    </div>

</p-dialog>
