<admin-navbar></admin-navbar>

<div class="container-fluid" [ngStyle]="adminS.dashboard_container_style">
     <div class="row">
          <div class="d-none d-lg-block col-lg-2">
               <admin-lg-menu [active_tab]="'gallery'"></admin-lg-menu>
          </div>
          <div class="col-12 col-lg-10">                    
               <div class="row mt-3">
                    <div class="col-12">
                         <input #imageInput type="file" name="image" (change)="uploadNewImage($event)" class="d-none" accept="image/png,image/jpeg" />
                         <button (click)="imageInput.click()" class="btn btn-sm btn-outline-info float-right">
                              <i class="fa fa-upload mr-1"></i>
                              Upload Image
                         </button>
                         <h4 class="text-light">
                              <i class="fa fa-picture-o mr-2"></i>
                              Gallery ({{appImages.length}})
                         </h4>
                    </div>
               </div>
               <div class="row mt-4">
                    <div class="col-12 col-md-6 col-lg-3 pb-3" *ngFor="let image of appImages">
                         <div class="card">
                              <img src="{{rest.API_URI}}/images/one/{{image.id}}" class="card-img-top" alt="Image" />
                              <div class="card-body px-2 pb-1 pt-2">
                                   <div class="row">
                                        <div class="col-12">
                                             <button class="btn btn-sm btn-outline-danger float-right ml-2"
                                                       (click)="delete_app_image_dialog_open(image)">
                                                  <i class="fa fa-trash"></i>
                                             </button>
                                             <small class="text-light">{{image.name}}</small>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<p-dialog 
     [(visible)]="delete_image_dialog_visible"
     [modal]="true"
     [blockScroll]="true"
     [dismissableMask]="true"
     [showHeader]="true"
     [positionTop]="100">

     <p-header>
          Delete Image
     </p-header>

     <div class="container-fluid" *ngIf="delete_image_file">
          <div class="row">
               <div class="col-12">
                    <p class="text-dark">{{delete_image_file.name}}</p>
               </div>
          </div>
          <div class="row text-right mt-3 mb-2">
               <div class="col-12">
                    <button class="btn btn-danger btn-sm" (click)="delete_app_image_dialog_submit()">
                         <i class="fa fa-trash mr-1"></i>
                         Delete
                    </button>
               </div>
          </div>
     </div>

</p-dialog>