<admin-navbar></admin-navbar>

<div class="container-fluid" [ngStyle]="adminS.dashboard_container_style">
     <div class="row">
          <div class="d-none d-lg-block col-lg-2">
               <admin-lg-menu [active_tab]="'clients'"></admin-lg-menu>
          </div>
          <div class="col-12 col-lg-10">
               <div class="row mt-3">
                    <div class="col-12">
                         <button class="btn btn-sm btn-outline-info float-right" (click)="new_client_dialog_open()">
                              <i class="fa fa-plus mr-1"></i>
                              New Client
                         </button>
                         <h4 class="text-light">
                              <i class="fa fa-users mr-2"></i>
                              Manage Clients ({{clients.length}})
                         </h4>
                    </div>
               </div>
               <div class="row mt-4">
                    <div class="col-12 col-md-6 col-lg-3" *ngFor="let client of clients">
                         <div class="card card-body p-0">
                              <img class="w-100" src="{{rest.API_URI}}/images/one/{{client.imageId}}" />
                              <div class="row m-0 p-0">
                                   <div class="col-12 p-2">
                                        <button class="btn btn-sm btn-outline-danger float-right" (click)="delete_client_dialog_open(client)">
                                             <i class="fa fa-trash"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-info float-right mr-2" (click)="edit_client_dialog_open(client)">
                                             <i class="fa fa-edit"></i>
                                        </button>
                                        <p>{{client.name}}</p>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary" type="button" (click)="decrementPriority(client)">
                                              <i class="fa fa-caret-down"></i>
                                            </button>
                                          </div>
                                          <input disabled="true" class="form-control" name="priority" [value]="client.priority" type="number" />
                                          <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" (click)="incrementPriority(client)">
                                              <i class="fa fa-caret-up"></i>
                                            </button>
                                          </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<p-dialog 
     [(visible)]="new_client_dialog_visible"
     [modal]="true"
     [blockScroll]="true"
     [dismissableMask]="true"
     [showHeader]="true"
     [positionTop]="100"
     [width]="300"
     *ngIf="new_client">

     <p-header>
          New Client
     </p-header>

     <input class="form-control" type="text" [(ngModel)]="new_client.name" />

     <button class="btn btn-sm btn-success mt-3" (click)="new_client_submit()">
          Create
     </button>

</p-dialog>

<p-dialog 
     [(visible)]="edit_client_dialog_visible"
     [modal]="true"
     [blockScroll]="true"
     [dismissableMask]="true"
     [showHeader]="true"
     [positionTop]="100"
     [width]="300"
     *ngIf="edit_client">

     <p-header>
          Edit Client
     </p-header>

     <input class="form-control" type="text" [(ngModel)]="edit_client.name" />

     <input class="form-control" type="number" [(ngModel)]="edit_client.priority" />

     <button class="btn btn-sm btn-success mt-3" (click)="edit_client_confirm()">
          Save
     </button>

</p-dialog>

<p-dialog 
     [(visible)]="delete_client_dialog_visible"
     [modal]="true"
     [blockScroll]="true"
     [dismissableMask]="true"
     [showHeader]="true"
     [positionTop]="100"
     [width]="300"
     *ngIf="delete_client">

     <p-header>
          Delete Client
     </p-header>

     <h5 class="text-center">{{delete_client.name}}</h5>

     <button class="btn btn-sm btn-danger mt-3" (click)="delete_client_confirm()">
          Delete
     </button>

</p-dialog>