<div class="card card-body p-0">
     <div class="list-group">
          <a class="list-group-item list-group-item-action {{active_tab==='dashboard'?'active':''}}" routerLink="/admin/dashboard">
               <i class="fa fa-dashboard mr-2"></i>
               Dashboard
          </a>
          <a class="list-group-item list-group-item-action {{active_tab==='projects'?'active':''}}" routerLink="/admin/projects">
               <i class="fa fa-cogs mr-2"></i>
               Manage Projects
          </a>
          <a class="list-group-item list-group-item-action {{active_tab==='services'?'active':''}}" routerLink="/admin/services">
               <i class="fa fa-cogs mr-2"></i>
               Manage Services
          </a>
          <a class="list-group-item list-group-item-action {{active_tab==='project-categories'?'active':''}}" routerLink="/admin/project-categories">
               <i class="fa fa-cogs mr-2"></i>
               Manage Project Categories
          </a>
          <a class="list-group-item list-group-item-action {{active_tab==='carousel'?'active':''}}" routerLink="/admin/carousel">
               <i class="fa fa-picture-o mr-2"></i>
               Manage Carousel
          </a>
          <a class="list-group-item list-group-item-action {{active_tab==='gallery'?'active':''}}" routerLink="/admin/gallery">
               <i class="fa fa-picture-o mr-2"></i>
               Gallery
          </a>
          <a class="list-group-item list-group-item-action {{active_tab==='clients'?'active':''}}" routerLink="/admin/clients">
               <i class="fa fa-users mr-2"></i>
               Manage Clients
          </a>
     </div>
</div>