<admin-navbar></admin-navbar>
<div class="container-fluid" [ngStyle]="adminS.dashboard_container_style">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <admin-lg-menu [active_tab]="'services'"></admin-lg-menu>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-sm btn-outline-info float-right" (click)="new_service_dialog_open()">
            <i class="fa fa-plus mr-1"></i>
            New Service
          </button>
          <h4 class="text-light">
            <i class="fa fa-cogs mr-2"></i>
            Manage Services
          </h4>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-4 pb-2" *ngFor="let service of services">
          <div class="card card-body p-3">
            <div class="row">
              <div class="col">
                <button class="btn btn-sm btn-outline-danger float-right" (click)="deleteServiceDialogOpen(service)">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-sm btn-outline-info float-right mr-2"
                  routerLink="/admin/service/{{service.id}}">
                  <i class="fa fa-edit"></i>
                </button>
                <h5>
                  {{service.title}}
                </h5>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="decrementPriority(service)">
                      <i class="fa fa-caret-down"></i>
                    </button>
                  </div>
                  <input disabled="true" class="form-control" name="priority" [value]="service.priority" type="number" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="incrementPriority(service)">
                      <i class="fa fa-caret-up"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="new_service_dialog_visible" 
    [modal]="true" 
    [blockScroll]="true" 
    [dismissableMask]="true"
    [showHeader]="true" 
    [positionTop]="100" 
    *ngIf="new_service">

    <p-header>
      New Image
    </p-header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <input class="form-control" type="text" [(ngModel)]="new_service.title" placeholder="Service Title" />
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-12 text-right">
          <button class="btn btn-sm btn-success" (click)="new_service_dialog_confirm()">
            <i class="fa fa-plus mr-1"></i>
            Create
          </button>
        </div>
      </div>
    </div>

</p-dialog>


<p-dialog [(visible)]="deleteServiceDialogVisible" 
    [modal]="true" 
    [blockScroll]="true" 
    [dismissableMask]="true"
    [showHeader]="true" 
    [positionTop]="100" 
    *ngIf="deleteServiceObject">

    <p-header>
      Delete Image
    </p-header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {{deleteServiceObject.title}}
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-12 text-right">
          <button class="btn btn-sm btn-danger" (click)="deleteServiceDialogConfirm()">
            <i class="fa fa-trash mr-1"></i>
            Delete
          </button>
        </div>
      </div>
    </div>

</p-dialog>