
<top-navbar></top-navbar>
<sub-navbar active_tab="home"></sub-navbar>
<sub-header carousel="true"></sub-header>

<carousel></carousel>

<div class="container text-center">
     <div class="row mt-5">
          <div class="col-8">
               <h3 class="header-text pb-2">Our Services</h3>
               <home-services></home-services>
          </div>
          <div class="col-4">
               <h2 class="header-text mb-3">About Ambekar Associates</h2>
               <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
               </p>
               <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo perspiciatis fugiat
                    praesentium, dicta eum cum magnam quae laudantium incidunt maiores hic nemo velit quisquam
                    labore atque officiis nobis facere nostrum.
               </p>
          </div>
     </div>
</div>


<!-- <div class="container">
     <div class="row">
          <div class="col-12 col-lg-8">
               <div class="row">
                    <div class="col">
                         <carousel></carousel>
                    </div>
               </div>
               <div class="row mt-5">
                    <div class="col">
                         <home-services></home-services>
                    </div>
               </div>
               <div class="row mt-5 text-center">
                    <div class="col">
                         <h2 class="header-text mb-2">About Ambekar Associates</h2>
                         <p>
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo perspiciatis fugiat
                              praesentium, dicta eum cum magnam quae laudantium incidunt maiores hic nemo velit quisquam
                              labore atque officiis nobis facere nostrum.
                         </p>
                         <p>
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo perspiciatis fugiat
                              praesentium, dicta eum cum magnam quae laudantium incidunt maiores hic nemo velit quisquam
                              labore atque officiis nobis facere nostrum.
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo perspiciatis fugiat
                              praesentium, dicta eum cum magnam quae laudantium incidunt maiores hic nemo velit quisquam
                              labore atque officiis nobis facere nostrum.
                         </p>
                    </div>
               </div>
          </div>
          <div class="col-12 col-lg-4 pt-5 pr-3 pt-lg-0 pr-lg-0">
               <timeline></timeline>
          </div>
     </div>
</div> -->
















<!-- <div class="row">
          <div class="col-12">
               <div class="row">
                    <div class="col">
                         <h3 class="text-muted">
                              About Ambekar Associates
                         </h3>
                    </div>
               </div>
               <hr />
               <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                         <li class="breadcrumb-item active">About</li>
                    </ol>
               </nav>
               <hr />
               <p>
                    Some quick example text to build on. Some quick example text to build on the card title. 
                    Some quick example text to build on. Some quick example text to build on the card title.
                    Some quick example text to build on. Some quick example text to build on the card title.
                    Some quick example text to build on. Some quick example text to build on the card title.
                    Some quick example text to build on. Some quick example text to build on the card title.
                    Some quick example text to build on. Some quick example text to build on the card title.
                    Some quick example text to build on. Some quick example text to build on the card title.
                    Some quick example text to build on. Some quick example text to build on the card title.
               </p>
          </div>
     </div> -->


     <app-footer></app-footer>