
               <div id="content">
                    <ul class="timeline">
                         <li class="event" data-date="May, 2018">
                              <h3 class="text-main">Dinosaurs Roamed the Earth</h3>
                              <p>We can be all things to Squarespace users!</p>
                         </li>
                         <li class="event" data-date="Sep, 2018">
                              <h3 class="text-main">Creative Component Launched</h3>
                              <p>"We can be all things to all people!" </p>
                         </li>
                         <li class="event" data-date="Jan, 2019">
                              <h3 class="text-main">Squareflair was Born</h3>
                              <p></p>
                              <p>"We can be all things to Squarespace users!" </p>
                         </li>
                         <li class="event" data-date="Mar, 2018">
                              <h3 class="text-main">Squareflair Today</h3>
                              <p>When we say <em><strong>100% custom</strong></em> we mean it— and we build all sites on the
                                   Squarespace Developer platform.</p>               
                              <p><strong>Our success can be measured by lives and brands enhanced by 9+ years of 100%
                                        Squarespace-focused service!</strong></p>
               
                              <p><a href="https://www.squareflair.com">More Projects (57)</a></p>
                         </li>
                    </ul>
               </div>