<div class="text-white">
     <div class="row p-5">
          <div class="col-12 col-lg-3">
               <img class="w-100" src="{{rest.api_hostname}}/image/project-logo" />
          </div>
          <div class="col-12 col-lg-8 pt-4 pt-lg-0">
               <h3>Project Name</h3>
               <hr class="bg-light" />
               <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam alias eligendi explicabo suscipit eaque sunt velit et. Iusto id autem enim, magni reiciendis rerum a veniam cupiditate? Corporis, quisquam praesentium!
               </p>
          </div>
     </div>
</div>