<admin-navbar></admin-navbar>
<div class="container-fluid" [ngStyle]="adminS.dashboard_container_style">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <admin-lg-menu [active_tab]="'projects'"></admin-lg-menu>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-sm btn-warning float-right" (click)="delete_project_dialog_open()">
            <i class="fa fa-trash mr-1"></i>
            Delete
          </button>
          <button class="btn btn-sm btn-success float-right mr-2" (click)="save_project_changes()">
            <i class="fa fa-save mr-1"></i>
            Save
          </button>
          <button class="btn btn-sm btn-secondary float-right mr-2" routerLink="/admin/projects">
            <i class="fa fa-reply mr-1"></i>
            Discard
          </button>
          <h4>
            <i class="fa fa-edit mr-2"></i>
            Edit Project
          </h4>
        </div>
      </div>
      <hr />
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
          <li class="breadcrumb-item"><a routerLink="/admin/projects">Manage Projects</a></li>
          <li class="breadcrumb-item active">{{project_edit.title}}</li>
        </ol>
      </nav>
      <hr />
      <div class="row">
        <div class="col-12">
          <div class="card card-body mb-3 p-3">
            <div class="row">
              <div class="col">
                <div class="row py-2">
                  <div class="col-12">
                    <h5 class="mb-3">Project Name</h5>
                    <input type="text" [(ngModel)]="project_edit.title" class="form-control" />
                  </div>
                </div>
                <hr />
                <div class="row py-2">
                  <div class="col-12">
                    <h5 class="mb-3">Completion Time</h5>
                    <p-calendar [(ngModel)]="project_completion_time_edit" view="month" dateFormat="MM, yy"
                      [yearNavigator]="true" yearRange="1950:2030"></p-calendar>
                  </div>
                </div>
                <hr />
                <div class="row py-2">
                  <div class="col-12">
                    <button class="btn btn-sm btn-info float-right" (click)="new_project_category_dialog_open()">
                      <i class="fa fa-plus"></i>
                      New Category
                    </button>
                    <h5>Categories ({{project_edit.project_categories.length}})</h5>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <ul class="list-group">
                      <li class="list-group-item" *ngFor="let cat of project_edit.project_categories;">
                        <i class="fa fa-trash text-danger float-right" (click)="remove_category_from_project(cat)"></i>
                        {{cat.name}}
                      </li>
                    </ul>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-sm btn-info float-right" (click)="new_image_dialog_open()">
                      <i class="fa fa-plus"></i>
                      New Image
                    </button>
                    <h5>Images ({{project_edit.images.length}})</h5>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-12 col-lg-3" *ngFor="let image of project_edit.images; let i=index;">
                    <div class="card">
                      <img class="card-img-top" src="{{rest.api_hostname}}/image/{{image.key}}" alt="Card image cap">
                      <div class="card-body p-2">
                        <p class="card-text">Key : {{image.key}}</p>
                        <a class="btn btn-sm btn-info text-light mr-2" *ngIf="i!==0" (click)="make_image_first(image)">
                          Make First
                        </a>
                        <a class="btn btn-sm btn-warning" (click)="remove_image_from_project(image)">
                          <i class="fa fa-trash text-light"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-12">
                    <h5 class="mb-2">Short Description</h5>
                    <quill-editor [(ngModel)]="project_edit.short_description" [modules]="{
                                                       toolbar: [
                                                       ['bold', 'italic', 'underline', 'strike'],
                                                       ['blockquote', 'code-block'],
                                                       [{ 'header': 1 }, { 'header': 2 }],
                                                       [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                                                       [{ 'script': 'sub'}, { 'script': 'super' }],
                                                       [{ 'indent': '-1'}, { 'indent': '+1' }],
                                                       [{ 'direction': 'rtl' }],
                                                       [{ 'size': ['small', false, 'large', 'huge'] }],
                                                       [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                                                       [{ 'color': [] }, { 'background': [] }],
                                                       [{ 'font': [] }],
                                                       [{ 'align': [] }],
                                                       ['clean'],
                                                       []
                                                       ]
                                                  }"></quill-editor>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-12">
                    <h5 class="mb-2">Long Description</h5>
                    <quill-editor [(ngModel)]="project_edit.long_description" [modules]="{
                                                       toolbar: [
                                                       ['bold', 'italic', 'underline', 'strike'],
                                                       ['blockquote', 'code-block'],
                                                       [{ 'header': 1 }, { 'header': 2 }],
                                                       [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                                                       [{ 'script': 'sub'}, { 'script': 'super' }],
                                                       [{ 'indent': '-1'}, { 'indent': '+1' }],
                                                       [{ 'direction': 'rtl' }],
                                                       [{ 'size': ['small', false, 'large', 'huge'] }],
                                                       [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                                                       [{ 'color': [] }, { 'background': [] }],
                                                       [{ 'font': [] }],
                                                       [{ 'align': [] }],
                                                       ['clean'],
                                                       []
                                                       ]
                                                  }"></quill-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<p-dialog [(visible)]="new_project_category_dialog_visible" [modal]="true" [blockScroll]="true" [dismissableMask]="true"
  [showHeader]="true" [positionTop]="150" [width]="400">

  <p-header>
    Add Category
  </p-header>

  <div class="row no-gutters mb-3" *ngIf="new_project_category">
    <div class="col-12">
      <select type="text" [(ngModel)]="new_project_category.name" class="form-control">
        <option *ngFor="let cat of appState.state.project_categories" [value]="cat.name">{{cat.name}}</option>
      </select>
    </div>
  </div>

  <button class="btn btn-success btn-sm float-right" (click)="new_project_category_dialog_submit()">Add
    Category</button>

</p-dialog>



<p-dialog [(visible)]="new_image_dialog_visible" [modal]="true" [blockScroll]="true" [dismissableMask]="true"
  [showHeader]="true" [positionTop]="150" [width]="400">

  <p-header>
    New Image
  </p-header>

  <div class="row no-gutters mb-3" *ngIf="new_image">
    <div class="col-12">
      <input type="text" [(ngModel)]="new_image.key" class="form-control" placeholder="Image Key" />
    </div>
  </div>

  <button class="btn btn-success btn-sm float-right" (click)="new_image_dialog_submit()">Add Image</button>

</p-dialog>



<p-dialog [(visible)]="delete_project_dialog_visible" [modal]="true" [blockScroll]="true" [dismissableMask]="true"
  [showHeader]="true" [positionTop]="150" [width]="600">

  <p-header>
    Delete Project
  </p-header>

  <div class="row no-gutters py-3">
    <div class="col-12">
      {{project_edit.title}}
    </div>
  </div>

  <button class="btn btn-danger btn-sm" (click)="delete_project_dialog_submit()">Delete</button>

</p-dialog>
