<admin-navbar></admin-navbar>

<div class="container-fluid" [ngStyle]="adminS.dashboard_container_style">
     <div class="row">
          <div class="d-none d-lg-block col-lg-2">
               <admin-lg-menu [active_tab]="'projects'"></admin-lg-menu>
          </div>
          <div class="col-12 col-lg-10">
               <div class="row mt-3">
                    <div class="col-12">
                         <button class="btn btn-sm btn-outline-info float-right" (click)="new_project_dialog_open()">
                              <i class="fa fa-plus mr-1"></i>
                              New Project
                         </button>
                         <h4 class="text-light">
                              <i class="fa fa-cogs mr-2"></i>
                              Manage Projects
                         </h4>
                    </div>
               </div>
               <div class="row mt-4">
                    <div class="col-12">
                         <p>Projects are arranged based on their completion time.</p>
                    </div>
               </div>
               <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 pb-2" *ngFor="let project of projects">
                         <div class="card card-body mb-3 p-3">
                              <div class="row">
                                   <div class="col">
                                        <button class="btn btn-sm btn-outline-danger float-right ml-2"
                                             (click)="delete_project_dialog_open(project)">
                                             <i class="fa fa-trash"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-info float-right"
                                             routerLink="/admin/project/{{project.id}}">
                                             <i class="fa fa-edit"></i>
                                        </button>
                                        <h5>
                                             {{project.title}}
                                        </h5>
                                        <hr *ngIf="project.completionTime || project.projectCategoryName" />
                                        <small class="text-light">
                                             <div *ngIf="project.completionTime">
                                                  <i class="fa fa-clock-o mr-1"></i>
                                                  Completed On : {{project.completionTime | date:'MMMM, y'}}
                                             </div>
                                             <div *ngIf="project.projectCategoryName">
                                                  <i class="fa fa-asterisk mr-1"></i>
                                                  Category : {{project.projectCategoryName}}
                                             </div>
                                        </small>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-12" *ngIf="!projects">
                         <div class="card card-body p-3">
                              <div class="row">
                                   <div class="col text-center my-3">
                                        <i class="fa fa-spinner"></i>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-12" *ngIf="projects && !projects.length">
                         <div class="card card-body p-3">
                              <div class="row">
                                   <div class="col text-center">
                                        <p>(No projects available)</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<p-dialog [(visible)]="new_project_dialog_visible" [modal]="true" [blockScroll]="true" [dismissableMask]="true"
     [showHeader]="true" [positionTop]="100" *ngIf="new_project">
     <p-header>
          New Project
     </p-header>
     <div class="container-fluid">
          <div class="row mt-2">
               <div class="col-12">
                    <input class="form-control" autofocus="true" type="text" [(ngModel)]="new_project.title" placeholder="Project Title" />
               </div>
          </div>
          <div class="row mt-3 mb-2">
               <div class="col-12 text-right">
                    <button class="btn btn-sm btn-outline-success" (click)="new_project_dialog_confirm()">
                         <i class="fa fa-plus mr-1"></i>
                         Create Project
                    </button>
               </div>
          </div>
     </div>
</p-dialog>


<p-dialog [(visible)]="delete_project_dialog_visible" [modal]="true" [blockScroll]="true" [dismissableMask]="true"
     [showHeader]="true" [positionTop]="100" *ngIf="delete_project">

     <p-header>
          Delete Project
     </p-header>

     <div class="container-fluid">
          <div class="row mt-2">
               <div class="col-12">
                    Delete project <b>{{delete_project.title}}</b> from application?
               </div>
          </div>
          <div class="row mt-3 mb-2">
               <div class="col-12 text-right">
                    <button class="btn btn-sm btn-outline-danger" (click)="delete_project_dialog_submit()">
                         <i class="fa fa-trash mr-1"></i>
                         Comfirm Delete
                    </button>
               </div>
          </div>
     </div>

</p-dialog>